header
    .container 
        .row
            .col-3
                .inner-logo
                    a(href="/")
                        .logo
                            img(src="/client/images/avtshop.jpg", alt="Logo")
                            .title NAMESHOP
            .col-9
                .inner-menu 
                    .inner-item 
                        a(href="/") Trang chủ
                    .inner-item 
                        a(href="/products") Sản phẩm
