extends ../../layouts/default

block main
  section.intro 
    
      .mixbackground 
        .back1 
        .back2 
      .box-head
        .title WELCOME TO
        .desc-active
          .des-active  
          .ba-cham ...
        .desc-inactive Website bán hàng số 1 Việt Nam
        .down
          a(href="/")
            .mouse
              i.fa-solid.fa-arrow-down-long
            .xoay

